@import "tailwindcss";

/*!* 🔥 Selected node visual *!*/
/*.react-flow__node.selected {*/
/*    border: 3px solid red !important;*/
/*}*/

/* 🔥 Selected node visual */
.react-flow__node.selected {
    border: 2px solid #3b82f6 !important;  /* blue */
    box-shadow: 0 0 0 2px rgba(59,130,246,0.3);
    border-radius: 6px;
}
